.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading {
  grid-column: 2;
  justify-self: center;
}

.link {
  grid-column: 3;
  width: max-content;
  justify-self: end;
  margin: 0 10px;
}
